html {
  scroll-behavior: smooth;
}
@font-face {
  src: url(../../static/SpaceGrotesk-Regular.ttf);
  src: url(../../static/SpaceGrotesk-Light.ttf);
  src: url(../../static/SpaceGrotesk-Medium.ttf);
  src: url(../../static/SpaceGrotesk-Bold.ttf);
  src: url(../../static/SpaceGrotesk-SemiBold.ttf);
  src: url(../../static/GT-Walsheim-Pro-Light.ttf);
  font-family: "Space Grotesk";
}
@font-face {
  src: url(../../static/SpaceGrotesk-SemiBold.ttf);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url(../../static/SpaceGrotesk-Bold.ttf);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: bold;
}
@font-face {
  src: url(../../static/GT-Walsheim-Pro-Light.ttf);
  font-family: "GT Walsheim Pro Light";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.old {
  margin-top: -56px;
}

a {
  text-decoration: none;
  list-style: none;
  color: #61be4e;
}

footer {
  height: auto;
  background: #3c3c3c;
  padding: 5rem;
  flex-wrap: wrap;
}
.social-media {
  display: flex;
}
.social-media img {
  padding: 1.2rem;
}
.footer-links {
  font-family: "GT Walsheim Pro Light";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 1rem;
}
.copyright {
  padding: 1rem;
  color: white;
  font-family: "GT Walsheim Pro Light";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.hXQwGq {
  background-color: #bfe8b6 !important;
  border: #bfe8b6 !important;
  box-shadow: rgba(191, 232, 182, 0.5) 0px 0px 1px 2px !important;
}
.hXQwGq button {
  border-color: #bfe8b6 !important;
}
.abcotv body {
  background: transparent !important;
}
.QmVdP,
.kbDIuN {
  background-color: #61be4e !important;
  box-shadow: 0 0 1px 3px #61be4e !important;
}

@media screen and (max-width: 1000px) {
  ul li {
    padding: 0 1rem 2rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .social-media {
    display: flex;
  }
  .social-media img {
    width: 40px;
    height: 40px;
    padding: 0.2rem !important;
  }

  .logo {
    margin-left: 0;
  }

  .menu {
    display: flex;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo-section {
    justify-content: center;
    padding-right: 2rem;
  }
  .top-bar {
    height: auto;
    padding: 0rem 1rem 1rem 1rem;
  }
  ul li {
    display: flex;
    padding: 10px 3px 15px 3px;
    font-size: 14px;
  }

  .hero,
  .section_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .old {
    left: 0;
    margin: 0 auto;
    position: static;
    padding-top: 20px;
    width: 100%;
  }

  .top-bar {
    width: 100%;
    justify-content: space-evenly;
  }
}
